body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.header {
    text-align: center;
    margin: 20px 0;
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
}
.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-item {
    display: block;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #333;
    font-weight: normal;

}

.game-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 35px darkblue;
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

.game-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.game-item h3 {
    margin-top: 10px;
    font-size: 18px;
}
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}
